<!DOCTYPE html>
<html lang="en" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Modifier un article</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Update a contact</div>
            <div class="panel-body">
                <form method="post" th:action="@{/toUpdate(id=${contact.id})}">
                    <div class="form-group">
                        <label class="control-label"> Name : </label>
                        <input class="form-control" name="name" th:value="${contact.name}" type="text">
                        <span class="text-danger" th:errors="${contact.name}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> FirstName : </label>
                        <input class="form-control" name="firstName" th:value="${contact.firstName}" type="text">
                        <span class="text-danger" th:errors="${contact.firstName}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Email : </label>
                        <input class="form-control" name="email" th:value="${contact.email}" type="text">
                        <span class="text-danger" th:errors="${contact.email}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Phone : </label>
                        <input class="form-control" name="phone" th:value="${contact.phone}" type="text">
                        <span class="text-danger" th:errors="${contact.phone}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Address : </label>
                        <input class="form-control" name="address" th:value="${contact.address}" type="text">
                        <span class="text-danger" th:errors="${contact.address}"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Categories : </label>
                        <select class="form-control" id="category" name="categoryId">
                            <option th:each="category: ${catList}"
                                    th:selected="${category.id == contact.category.id}"
                                    th:text="${category.name}"
                                    th:value="${category.id}"

                            ></option>
                        </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>